In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv("../data/data.csv")
df

    width   height      init   solving
0       5       10  0.023832  0.003854
1       5       10  0.034805  0.004319
2       5       10  0.034932  0.003926
3       5       10  0.034614  0.003639
4       5       10  0.023573  0.003431
5       5       10  0.019397  0.003602
6       5       10  0.038454  0.003860
7       5       10  0.025218  0.003968
8       5       10  0.040758  0.003794
9       5       10  0.031081  0.003832
10      2        4  0.004705  0.003053
11      2        4  0.004487  0.003006
12      2        4  0.004745  0.003226
13      2        4  0.005591  0.003590
14      2        4  0.004779  0.003008
15      2        4  0.004597  0.003032
16      2        4  0.004817  0.003258
17      2        4  0.004317  0.003040
18      2        4  0.004635  0.003035
19      2        4  0.004766  0.003189